<div class="banner">
  <div class="banner-content">
    <h1>Mister Cocktails</h1>
    <%= link_to new_cocktail_path, class:'btn add' do %>
     <span>ADD A COCKTAIL</span>
     <span><i class="fas fa-caret-right"></i></span>
    <% end %>
  </div>
</div>

<ul>
  <% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
</ul>

