<h1 class="text-center">Add a new Cocktail</h1>
<hr>
<div class="container">
  <div class="row">
    <%= simple_form_for @cocktail do |f| %>
    <div class="col-xs-4 col-xs-offset-4">
      <% if @cocktail.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @cocktail.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <%= f.input :name %>
    </div>
    <div class="col-xs-4 col-xs-offset-4">
      <%= f.submit "CREATE COCKTAIL", class: "btn form-control" %>
      <% end %>
    </div>
  </div>
</div>
